<% provide(:title, 'パスワード再設定') %>
<div class="container mt-4" style="
    text-align: center !important;
    height: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: center;">
  <div class="row" style="width: 100%;">
    <div class="col-md-6 mx-auto">
      <h2>パスワード再設定</h2>
      <hr>
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'share/error_messages', obj: @user %>

        <% if @user.kind_of?(Teacher) %>
          <%= hidden_field_tag :email, @user.email %>
        <% else %>
          <%= hidden_field_tag :login_id, @user.login_id %>
        <% end %>
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "確認" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="row">
          <div class="col-md-6 mx-auto">
            <%= f.submit "パスワード更新", data: { disable_with: '処理中...' }, class: "btn btn-sub btn-block" %>
            
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
