<% provide(:title, 'パスワード再設定') %>
<div class="container mt-3">
  <h2>パスワード再設定</h2>
  <hr>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'share/error_messages', obj: @user %>

        <%= hidden_field_tag :email, @user.email %>
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "確認" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.submit "パスワード更新", class: "btn btn-sub" %>
      <% end %>
    </div>
  </div>
</div>
