<% provide(:title, "生徒の設定変更")%>
<% provide(:btn_text, "変更する")%>
<div class="container mt-3">
	<div class="row">
		<div class="col-md-9 mx-auto">
			<div class="card bg-brown shadow">
				<div class="card-header">
					<h2><%= @student.name %></h2>
				</div>
				<div class="card-body">
					<%= form_for(@student, url: update_by_teacher_student_url(@student), method: :patch) do |f| %>
						<%= render 'share/error_messages', obj: @student %>
						<div class="form-group">
							<%= f.label :grade, '現在の学年'%>
							<%= f.select :grade, Student.grades, { include_blank: '選択して下さい' }, class: "form-control form-control-lg" %>
						</div>
						<div class="form-group">
							<%= f.label :lesson_days ,'授業の曜日'%>
							<%= f.select :lesson_days, Student.days, {}, multiple: true, class: "select-subjects" %>
						</div>
						<div class="row">
							<div class="col-md-4 mx-auto">
								<%= f.submit yield(:btn_text), data: { confirm: '本当に保存してもよろしいですか？', disable_with: '処理中...' }, 
								class: "btn btn-block btn-sub" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>