<% provide(:title, "ログイン")%>
<div class="fixed-top text-right p-3">
	<%= link_to '講師はこちら', login_form_teachers_url, class: "btn", style: "border-radius: 30px; background: #b08274;" %>
</div>
<%= form_for(@student, url: login_students_url, html: { class: 'form-signin' , method: :post }) do |f| %>
	<%= image_tag 'logo.png' , class: "mb-4", height: 70 %>
	<%= f.label :login_id, class: "sr-only" %>
	<%= f.text_field :login_id, class: "form-control", placeholder: "ログインID", required: true, autofocus: true %>
	<%= f.label :password, class: "sr-only" %>
	<%= f.password_field :password, class: "form-control", placeholder: "パスワード", required: true %>
	<p class="p-0 mb-2">
		(パスワードを忘れた場合は
		<a href="#" class="link" data-toggle="modal" data-target="#forget_password_modal">こちら</a>
		)
	</p>
	<div class="checkbox mb-3">
		<%= label_tag :remember_me do %>
			<%= check_box_tag :remember_me, 'yes', 'no' %>
			<span>パスワードを保存する</span>
		<% end %>
	</div>
	<%= f.submit 'ログインする', disable_with: '処理中...' , class: "btn btn-block btn-sub" %>
	<p class="m-2">
		<a href="#" class="link" data-toggle="modal" data-target="#addStudentModal">
			新規登録の方はこちらから
		</a>
	</p>
<% end %>

<div class="modal fade" id="addStudentModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-brown">
			<div class="modal-header" style="background: #c9bdb9;">
				<h4 class="modal-title"><i class="fas fa-user-plus"></i> Okurun</h4>
				<button class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<%= form_for(@student, method: :post, remote: true) do |f| %>
				<div class="modal-body">

					<%= render 'share/error_messages', obj: @student%>

					<div class="form-group">
						<%= f.label :name, '氏名'%>
						<%= f.text_field :name, class: "form-control", placeholder: "例）鈴木　一郎"%>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col">
								<%= f.label :last_name, "姓名（ローマ字）" %>
								<%= f.text_field :last_name,  class: "form-control",  placeholder: "例）suzuki" %>
							</div>
							<div class="col">
								<%= f.label :first_name, "名前（ローマ字）" %>
								<%= f.text_field :first_name, class: "form-control",  placeholder: "例）ichiro" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :grade, '現在の学年'%>
						<%= f.select :grade, Student.grades, { include_blank: '選択して下さい' }, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :email, 'メールアドレス'%>
						<%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
					</div>
		
					<div class="form-group">
						<%= f.label :password, 'パスワード'%> 
						<%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
					</div>

					<div class="form-group">
						<%= f.label :password, 'パスワード確認（もう一度入力して下さい。）'%>
						<%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認" %>
					</div>

					<div class="row">
						<div class="col-md-4 mx-auto">
							<%= f.submit "登録する", data: { confirm: '本当に保存してもよろしいですか？', disable_with: '処理中...' }, 
							class: "btn btn-block btn-sub" %>
						</div>
					</div>

				</div>
				<% end %>

		</div>
	</div>
</div>


<div class="modal fade" id="forget_password_modal" tabindex="-1" role="dialog" aria-labelledby="forget_password_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forget_password_label">
					<i class="fas fa-lock"></i> ログインできない場合
				</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<div class="modal-body">
					<p class="text-muted">
						アカウントにアクセスするためのログインリンクを送信するため、<br>ログインIDを入力してください。
					</p>
					<div class="form-group">
						<%= f.label :login_id, 'ログインID:', class: "col-form-label" %>
						<%= f.text_field :login_id, class: "form-control" %>
					</div>
				</div>
				<div class="modal-footer">
					<%= f.submit "ログインリンクを送信", data: { disable_with: '処理中...' }, class: "btn btn-block btn-sub" %>
				</div>
			<% end %>
    </div>
  </div>
</div>