<%= provide(:title, "生徒選択") %>
<section id="posts">
  <div class="container">
		<div id="accordion">
      <div class="row mt-4">
        <div class="col-md-9 mb-3 mx-auto">

					<div class="text-right">
						<h6>
							並び順：
							<p class="change-sorting-by-grade d-inline-block mb-0 link">学年</p>
							｜
							<p class="change-sorting-by-day d-inline-block mb-0 link">曜日</p>
							｜
							<p class="change-sorting-by-group d-inline-block mb-0 link">グループ</p>
						</h6>
					</div>

					<!-- 学年フォーム -->
					<%= form_tag( { action: :new }, { method: :get } ) do %>
						<div class="sort-by-grade">
							<!-- フォーム本体 -->
							<div class="card">
								<div style="background: #f0e7dd;" class="card-header">
									<h4>生徒を選択して下さい</h4>
								</div>
								<% Student.grades.each do |grade| %>
									<% if (@students = students_of(grade)).exists? %>
										<div type="a" class="card-header bg-brown" id="heading-<%= grade %>">
											<h5 class="mb-0">
												<div
													class="collapsed"
													data-toggle="collapse"
													data-target="#collapse-<%= grade %>"
													aria-expanded="false"
													aria-controls="collapse-<%= grade %>"
												>
													<div class="d-inline-block">
														<i class="arrow fa fa-angle-right mr-2"></i><%= grade %>
													</div>

													<div class="d-inline-block">
														<input type="checkbox" id="student_<%= grade %>" class="student_grade" name="student_<%= grade %>">
														<label for="student_<%= grade %>">学年で選択</label>
													</div>
												</div>
											</h5>
										</div>
										<div
											id="collapse-<%= grade %>"
											class="collapse"
											aria-labelledby="heading-<%= grade %>"
											data-parent="#accordion"
										>
											<table class="table">
													<tbody>
														<% @students.each do |student| %>
														<tr>
															<td class="pl-4">
																<%= check_box_tag 'student_ids[]', student.id, @news.student_ids.include?(student.id), class: "student" %>
																<i class="fas fa-user-circle"></i>     <%= student.name %>	
															</td>
														</tr>
														<% end %>
													</tbody>
											</table>
										</div>
									<% end %>
								<% end %>
							</div>

							<!-- 全選択 -->
							<h6 class="mt-3 mb-0">
								<input type="checkbox" id="student_all" name="student_all">
								<label for="student_all">全ての生徒を選択</label>
							</h6>

							<!-- 送信ボタン -->
							<div style="width: 40%;" class="mx-auto mb-2">
								<%= submit_tag '生徒を選択', class: "btn btn-block btn-sub mt-1"%>
							</div>
						</div>
					<% end %>

					<!-- 曜日フォーム -->
					<%= form_tag( { action: :new }, { method: :get } ) do %>
						<div class="sort-by-day d-none">
							<!-- フォーム本体 -->
							<div class="card">
								<div style="background: #f0e7dd;" class="card-header">
									<h4>生徒を選択して下さい</h4>
								</div>
								<% Student.days.each do |day| %>
									<% ["年", "小", "中", "高", "大"].each do |grade| %>

										<% if (students = Student.where("lesson_day LIKE ? AND grade LIKE ? AND activated = ?", "%#{day}%", "#{grade}%", true)).exists? %>

											<!-- アコーディオンヘッダー -->
											<div type="a" class="card-header bg-brown" id="heading-<%= day %>-<%= grade %>">
												<h5 class="mb-0">
													<div
														class="collapsed"
														data-toggle="collapse"
														data-target="#collapse-<%= day %>-<%= grade %>"
														aria-expanded="false"
														aria-controls="collapse-<%= day %>-<%= grade %>"
													>
														<div class="d-inline-block">
															<i class="arrow fa fa-angle-right mr-2"></i> <%= "#{day}曜日(#{grade})" %>
														</div>

														<div class="d-inline-block text-right">
															<input type="checkbox" id="student_<%= day %>_<%= grade %>" class="student_grade" name="student_<%= day %>_<%= grade %>">
															<label for="student_<%= day %>_<%= grade %>">グループで選択</label>
														</div>
													</div>
												</h5>
											</div>

											<!-- アコーディオン中身 -->
											<div
												id="collapse-<%= day %>-<%= grade %>"
												class="collapse"
												aria-labelledby="heading-<%= day %>-<%= grade %>"
												data-parent="#accordion"
											>
												<table class="table">
														<tbody>
															<% students.each do |student| %>
															<tr>
																<td class="pl-4">
																	<%= check_box_tag 'student_ids[]', student.id, @news.student_ids.include?(student.id), class: "student" %>
																	<i class="fas fa-user-circle"></i>     <%= student.name %>	
																</td>
															</tr>
															<% end %>
														</tbody>
												</table>
											</div>
										<% end %>
									<% end %>
								<% end %>
							</div>

							<!-- 送信ボタン -->
							<div style="width: 40%;" class="mx-auto mb-2">
								<%= submit_tag '生徒を選択', class: "btn btn-block btn-sub mt-1"%>
							</div>
						</div>
					<% end %>

					<!-- グループフォーム -->
					<%= form_tag( { action: :new }, { method: :get } ) do %>
						<div class="sort-by-group d-none">
							<!-- フォーム本体 -->
							<div class="card">
								<div style="background: #f0e7dd;" class="card-header">
									<h4>生徒を選択して下さい</h4>
								</div>
								<% Group.all.each do |group| %>
									<% name = group.name %>
									<!-- アコーディオンヘッダー -->
									<div type="a" class="card-header bg-brown" id="heading-<%= name %>">
										<h5 class="mb-0">
											<div
												class="collapsed"
												data-toggle="collapse"
												data-target="#collapse-<%= name %>"
												aria-expanded="false"
												aria-controls="collapse-<%= name %>"
											>
												<div class="d-inline-block">
													<i class="arrow fa fa-angle-right mr-2"></i> <%= name %>
												</div>

												<div class="d-inline-block text-right">
													<input type="checkbox" id="student_<%= name %>" class="student_grade" name="student_<%= name %>">
													<label for="student_<%= name %>">グループで選択</label>
												</div>
											</div>
										</h5>
									</div>

									<!-- アコーディオン中身 -->
									<div
										id="collapse-<%= name %>"
										class="collapse"
										aria-labelledby="heading-<%= name %>"
										data-parent="#accordion"
									>
										<table class="table">
												<tbody>
													<% group.students.where(activated: true).each do |student| %>
													<tr>
														<td class="pl-4">
															<%= check_box_tag 'student_ids[]', student.id, @news.student_ids.include?(student.id), class: "student" %>
															<i class="fas fa-user-circle"></i>     <%= student.name %>	
														</td>
													</tr>
													<% end %>
												</tbody>
										</table>
									</div>
								<% end %>
							</div>

							<!-- 送信ボタン -->
							<div style="width: 40%;" class="mx-auto mb-2">
								<%= submit_tag '生徒を選択', class: "btn btn-block btn-sub mt-1"%>
							</div>
						</div>
					<% end %>

					
        </div>
      </div>
    </div>
  </div>
</section>