<%= provide(:title, "生徒選択") %>
<%= form_tag( { action: :new }, { method: :get} ) do %>
<section id="posts">
  <div class="container">
		<div id="accordion">
      <div class="row mt-2">
        <div class="col-md-9 mb-3 mx-auto">
          <div class="card">
            <div style="background: #f0e7dd;" class="card-header">
              <h4>生徒を選択して下さい</h4>
            </div>
							<% Student.grades.each do |grade| %>
								<% if (@students = students_of(grade)).exists? %>
									<div type="a" class="card-header bg-brown" id="heading-<%= grade %>">
										<h5 class="mb-0">
											<div
												class="collapsed"
												data-toggle="collapse"
												data-target="#collapse-<%= grade %>"
												aria-expanded="false"
												aria-controls="collapse-<%= grade %>"
											>
												<div class="d-inline-block">
													<i class="arrow fa fa-angle-right mr-2"></i><%= grade %>
												</div>

												<div class="d-inline-block">
													<input type="checkbox" id="student_<%= grade %>" class="student_grade" name="student_<%= grade %>">
													<label for="student_<%= grade %>">学年で選択</label>
												</div>
											</div>
										</h5>
									</div>
									<div
										id="collapse-<%= grade %>"
										class="collapse"
										aria-labelledby="heading-<%= grade %>"
										data-parent="#accordion"
									>
										<table class="table">
												<tbody>
													<% @students.each do |student| %>
													<tr>
														<td class="pl-4">
															<%= check_box_tag 'students_id[]', student.id, nil, class: "student" %>
															<i class="fas fa-user-circle"></i>     <%= student.name %>	
														</td>
													</tr>
													<% end %>
												</tbody>
										</table>
									</div>
								<% end %>
							<% end %>
          </div>
					<h6 class="mt-2 mb-0">
						<input type="checkbox" id="student_all" name="student_all">
						<label for="student_all">全ての生徒を選択</label>
					</h6>
					<div class="text-center">
						<%= submit_tag '生徒を選択', class: "btn mt-1"%>
					</div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>

