<% provide(:title, "詳細") %>
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">

      <h3 class="mt-4 mb-0 pl-3">
        <strong class="align-middle">お知らせ</strong>
      </h3>

      <hr>

      <div class="news-wrapper">

        <div class="news-title">
          「<%= @news.title %>」
        </div>

        <div class="news-info">
          書いた講師：<i class="fas fa-user-circle"></i>     <%= @news.teacher.name %>
        </div>
        <div class="news-info">
          日付：<%= @news.created_at.strftime('%Y年%m月%d日') %>
        </div>

        <div class="news-content">
          <%= safe_join(@news.content.split("\n"), tag(:br)) %><br/>
        </div>

        <% if (filename = Dir.glob("uploads/news/#{@news.id}/*")).present? %>
          <%= link_to File.basename(filename[0]), file_news_url(@news), method: :post, class: "link" %>
        <% end %>

        <% if correct_teacher?(@news.teacher) || admin_logged_in? %>

          <hr>

          <div class="row mt-2">

            <% if admin_logged_in? && draft?(@news) %>
              <div class="col-md-6 mt-2">
                <%= link_to release_news_url(@news), method: :post, class: "btn d-block" do %>
                  <i class="far fa-eye"></i> 公開する
                <% end %>
              </div>
            <% end %>

            <div class="col-md-6 mt-2 mx-auto">
              <%= link_to news_url(@news), data:{ confirm: "本当に削除してもよろしいですか" },
                method: :delete, class: "btn d-block bg-delete" do %>
                <i class="fas fa-trash"></i>  削除する
              <% end %>
            </div>
            
          </div>

        <% end %>
        
      </div>

      <% if teacher_logged_in? %>
        <hr>

        <h4 class="mt-4 pl-3">
          <strong class="align-middle">生徒（<%= @students.count %>人）</strong>
        </h4>
        <table class="table table-sm">
          <tbody>
            <% @students.each do |student| %>
            <tr>
              <td>
                <% if student.image? %>
                  <%= image_tag student.image.url, :size => "20x20", class: "mr-3 rounded-circle" %>
                <% else %>
                  <%= image_tag 'student.png', :size => "20x20", class: "mr-3 rounded-circle student-icon" %>
                <% end %>
                <%= student.name %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      
    </div>
  </div>
</div>