<% provide(:title, "詳細") %>
<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">

      <h3 class="mt-4 mb-0 pl-3">
        <strong>お知らせ</strong>
      </h3>

      <hr>

      <div class="news-wrapper">

        <div class="news-title">
          「<%= @news.title %>」
        </div>

        <div class="news-info">
          書いた講師：<i class="fas fa-user-circle"></i>     <%= @news.teacher.name %>
        </div>
        <div class="news-info">
          日付：<%= @news.created_at.strftime('%Y年%m月%d日') %>
        </div>

        <div class="news-content">
          <%= safe_join(@news.content.split("\n"), tag(:br)) %>
        </div>
        
        <% if correct_teacher?(@news.teacher) || admin_logged_in? %>
        <div class="modal-footer">
          <% if admin_logged_in? %>
            <% if draft?(@news) %>
              <%= link_to '公開する', release_news_url(@news), method: :post, class: "btn" %>
            <% elsif released?(@news) %>
              <%= link_to '非公開にする', draft_news_url(@news), method: :post, class: "btn" %>
            <% end %>
          <% end %>
          <%= link_to edit_news_url(@news), class: "btn" do %>
            <i class="fas fa-check"></i>  編集する
          <% end %>
          <%= link_to news_url(@news), data:{ confirm: "本当に削除してもよろしいですか" },
          method: :delete, class: "btn bg-delete" do %>
            <i class="fas fa-trash"></i>  削除する
          <% end %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>