<!-- 生徒ログイン用 -->
<% if student_logged_in? %>
  <div class="mb-3">
    <div class="card shadow-sm border-left-contact">
      <div class="card-body">

        <div class="card-body-icon-contact">
          <i class="far fa-envelope"></i>
        </div>

        <p class="mb-2">
          <strong>お問い合わせ</strong>
          <% if student_checked?(contact) %>
            <span class="float-right text-success">New</span>
          <% end %>
        </p>

        <h5 class="mb-0">
          「<%= contact.title %>」
        </h5>

        <p class="my-2">
          内容：<%= truncate(contact.content, length: 15) %>
        </p>
    
        <div class="text-muted my-2">
          <%= time_ago_in_words(contact.created_at) %>前に投稿
        </div>
        <div class="card_check">
          
          <%= link_to contact, class: "btn btn-contact card_check_info" do %>
            <i class="fas fa-arrow-right mr-2"></i>詳細
          <% end %>

          <div class="card_check_list">
            <% if contact.read_flg %>
              <div>
                <i class="far fa-check-square"></i>    既読
              </div>
            <% else %>
              <div>
                <i class="far fa-square"></i>    既読
              </div>
            <% end %>

            <% if reply_exists?(contact) %>
              <div>
                <i class="far fa-check-square"></i>   返信
              </div>
            <% else %>
              <div>
                <i class="far fa-square"></i>   返信
              </div>
            <% end %>
          </div>
          
        </div>
      </div>
    </div>
  </div>

<% else %>
<!-- 講師ログイン用 -->
  <div class="mb-3">
    <div class="card shadow-sm border-left-contact">
      <div class="card-body">
        <div class="card-body-icon-contact">
          <i class="far fa-envelope"></i>
        </div>
        <p class="mb-2">
          <strong>お問い合わせ</strong>
          <% if teacher_checked?(contact) %>
            <span class="float-right text-success">New</span>
          <% end %>
        </p>

        <h5 class="mb-0">
          「<%= contact.title %>」
        </h5>
        
        <p class="my-2">
          書いた生徒：<i class="fas fa-user-circle"></i>    <%= contact.student.name %>
        </p>
        
        <div class="text-muted my-2">
          <%= time_ago_in_words(contact.created_at) %>前に投稿
        </div>
        <div class="card_check">
      
          <%= link_to contact, class: "btn btn-contact card_check_info" do %>
            <i class="fas fa-arrow-right mr-2"></i>詳細
          <% end %>

          <div class="card_check_list pt-4">
            <% if contact.replies.where(writeable_type: "Student").exists? %>
              <div>
                <i class="far fa-check-square"></i>    返信
              </div>
            <% else %>
              <div>
                <i class="far fa-square"></i>    返信
              </div>
            <% end %>
          </div>
        
        </div>
      </div>
    </div>
  </div>
<% end %>