
<p><%= @receiver %> 様</p>

<hr>

<p>
 <%= @kind_of_doc %>に<%= @kind_of_sender %>の<%= @sender %>から返信が届きました。<br>
ご確認される場合は、以下のリンクをクリックして下さい。<br>
<%= link_to '内容を確認する', @doc %>
</p>

<hr>

<%= render 'zyuku' %>