<p><%= @receiver.name %> 様</p>

<hr>

<p>
 <%= @paper_name %>に講師の<%= @sender.name %>から返信がありました。<br>
ご確認される場合は、以下のリンクをクリックして下さい。<br>
<%= link_to 'コメントを確認する', @paper %>
</p>

<hr>

<%= render 'zyuku' %>