<p><%= @teacher.name %> 様</p>

<hr>

<p>
この度、指導報告書サービスサイト「okurun」に登録されました。<br>
以下は、登録をさせて頂きました講師情報です。
</p>

<ul>
	<li>講師名：<%= @teacher.name %></li>
	<li>パスワード：(セキュリティ保護のため、伏せています)</li>
	<li>メールアドレス：<%= @teacher.email %></li>
</ul>

<p>
何か情報に間違いなどがあれば、以下から申し付け下さい。<br>
<%= mail_to(@owner_emails[0], 'お問い合わせはこちら') %>
</p>

<p>
ログインは<%= link_to 'こちら', login_form_teachers_url %>から行ってください。
</p>

<hr>

<%= render 'zyuku' %>