<p><%= @student.name %> 様</p>

<hr>

<p>
この度、指導報告書サービスサイト「okurun」に登録されました。<br>
以下は、登録をして頂きました個人情報です。
</p>

<ul>
	<li>学年：<%= @student.grade %></li>
	<li>生徒名：<%= @student.name %></li>
	<li>メールアドレス：<%= @student.email %></li>
</ul>

<p>以下の情報でログインを行ってください。</p>

<ul>
	<li>ログインID：<%= @student.login_id %></li>
	<li>パスワード：(セキュリティ保護のため、伏せています)</li>
</ul>

<p>
何か情報に間違いなどがあれば、以下から申し付け下さい。<br>
<%= mail_to(@owner_emails, 'お問い合わせはこちら') %>
</p>

<p>
ログインは<%= link_to 'こちら', students_login_url %>から行ってください。
</p>

<hr>

<p>

学習指導塾「自由塾」<br>
住所：東京都荒川区東日暮里6-60-1<br>
電話：03-3806-3610<br>
受付：月〜金（15:00〜22:00）<br>

</p>