<% provide(:title, "指導報告書")%>

<section id="reports" class="mt-3">
	<div class="container">
		<h3 class="mt-4 mb-3 pl-3">
			<strong>指導報告書</strong>
		</h3>

		<hr>

		<%= form_tag( { action: :new } , { method: :get } ) do %>
		<table class="table">
			<thead>
				<tr>

					<th class="table-column"></th>
					<th class="table-column">授業日</th>
					<th class="table-column">生徒</th>
					<th class="table-column">書いた講師</th>
					<th class="table-column">公開</th>
					<th class="table-column">既読</th>
					<th class="table-column">未読の返信</th>
					
				</tr>
			</thead>
			<tbody>
				<% @reports.each do |report| %>
					<tr>
						<td class="py-2">
							<%= check_box_tag 'reports_id[]', report.id, @reports_id.include?(report.id) %>
						</td>
						<td class="py-2">
							<%= link_to report, class: "link" do %>
								<%= report.start_date.strftime('%Y/%m/%d') %>〜<%= report.end_date.strftime('%m/%d') %>
							<% end %>
						</td>
						<td  class="py-2"><i class="fas fa-user-circle"></i> <%= report.student.name %></td>
						<td  class="py-2"><i class="fas fa-user-circle"></i> <%= report.teacher.name %></td>
						<td  class="py-2">
							<% if released?(report)%>
								<i class="far fa-check-square"></i>
							<% else %>
								<i class="far fa-square"></i>
							<% end %>
						</td>
						<td class="py-2">
							<% if report.read_flg %>
								<i class="far fa-check-square"></i>
							<% else %>
								<i class="far fa-square"></i>
							<% end %>
						</td>

						<td class="py-2">
							<% reply = report.replies.where(writeable_type: "Student", read_flg: false) %>
							<% if reply.exists? %>
								<i class="far fa-check-square"></i> <%= "(#{reply.count}件)"%>
							<% else %>
								<i class="far fa-square"></i>
							<% end %>
						</td>

					</tr>
				<% end %>
			</tbody>
		</table>

		<!-- 送信ボタン -->
		<div style="width: 40%;" class="mx-auto mb-2">
			<%= submit_tag '編集する', class: "btn btn-block btn-sub mt-1"%>
		</div>
		<% end %>
	</div>
</section>
