<% provide(:title, "講師一覧")%>
  <section id="teachers" class="mt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mb-3">
          <div class="card bg-brown">
            <div class="card-header">
              <h4>講師一覧</h4>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>講師氏名</th>
                  <th class="d-none d-lg-table-cell">権限</th>
                  <% if owner_logged_in? %>
                    <th class="text-right pr-5">削除</th>
                  <% end %>
									<th></th>
                </tr>
              </thead>
              <tbody>
                <% @teachers.each do |teacher| %>
                  <tr>	
                    <td>
                      <i class="fas fa-user-circle"></i>
                      <%= link_to teacher.name, teacher, class:"link" %>
                    </td>
                    <td  class="d-none d-lg-table-cell"><%= teacher.status %></td>
                    <td  class="text-right">
                      <% if owner_logged_in? %>
                        <%= link_to teacher, method: :delete,
                        data: { confirm: '本当によろしいですか？'}, class: "btn bg-delete" do %>
                          <i class="fas fa-trash"></i> 削除
                        <% end %>
                      <% end %>
                    </td>
                    <td  class="text-right">
                      <%= link_to teacher, class: "btn" do %>
                        <i class="fas fa-angle-double-right"></i> 詳細
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= will_paginate @teachers, :previous_label => '&laquo', :next_label => '&raquo' %>
        </div>
        

        <div class="col-md-3">
          <div class="card text-center card-bg-gray mb-3">
            <div class="card-body">
              <h3>生徒一覧</h3>
              <h4 class="display-4">
                <i class="fas fa-graduation-cap"></i> <%= Student.count %>
              </h4>
              <%= link_to '見る', students_path, class: "btn btn-view-gray" %>
            </div>
          </div>
          <div class="card text-center card-bg-blue mb-3">
            <div class="card-body">
              <h3>指導報告書</h3>
              <h4 class="display-4">
                <i class="fas fa-pencil-alt"></i> <%= current_teacher.reports.count %>
              </h4>
              <%= link_to '見る', teacher_reports_path(current_teacher.id), class: "btn btn-view-blue" %>
            </div>
          </div>
          <div class="card text-center card-bg-pink mb-3">
            <div class="card-body">
              <h3>お知らせ</h3>
              <h4 class="display-4">
                <i class="fas fa-clipboard"></i> <%= current_teacher.news.count %>
              </h4>
              <%= link_to '見る',teacher_news_url(current_teacher), class: "btn btn-view-pink" %>
            </div>
          </div>
          <div class="card text-center card-bg-green mb-3">
            <div class="card-body">
              <h3>お問い合わせ</h3>
              <h4 class="display-4">
                <i class="fas fa-envelope"></i> <%= current_teacher.contacts.count %>
              </h4>
              <%= link_to '見る', contacts_path, class: "btn btn-view-green" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>