<% provide(:title, "ログイン(講師)")%>
<div class="text-right p-3">
	<%= link_to '生徒はこちら', students_login_url, class: "btn", 
	style: "border-radius: 30px; background: #b08274;" %>
</div>
<div class="login">
	<%= form_for(@teacher, url: '/teachers/login', html: { class: 'login-form' , method: :post }) do |f| %>

		<h1 class="m-0">
			<%= image_tag 'logo.png', height: 70 %>
		</h1>

		<p>(塾講師ログイン用)</p>

		<div class="form-group">
			<%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
	
			<%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>

			<small class="form-text">
				(パスワードを忘れた場合は
				<a href="#" class="link" data-toggle="modal" data-target="#forget_password_modal">
					こちら
				</a>
				)
			</small>
		</div>

		<div class="form-group form-checkbox">
			<%= label_tag :remember_me do %>
				<%= check_box_tag :remember_me, 'yes', 'no' %>
				<span>パスワードを保存する</span>
			<% end %>
		</div>

		<%= f.submit 'ログインする', disable_with: '処理中...' , class: "btn btn-block btn-sub" %>

		<p class="m-2">
			<a href="#" class="link" data-toggle="modal" data-target="#addTeacherModal">
				新規登録の方はこちらから
			</a>
		</p>

	<% end %>
</div>


<div class="modal fade" id="addTeacherModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content bg-brown">
			<div class="modal-header" style="background: #c9bdb9;">
				<h4 class="modal-title"><i class="fas fa-user-plus"></i> Okurun</h4>
				<button class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<%= form_for(@teacher, method: :post) do |f| %>
				<div class="modal-body">

					<%= render 'share/error_messages', obj: @teacher %>

					<div class="form-group">
						<%= f.label :name, '氏名'%>
						<%= f.text_field :name, class: "form-control", placeholder: "氏名" %>
					</div>

					<div class="form-group">
						<%= f.label :email, 'メールアドレス' %>
						<%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
					</div>

					<div class="form-group">
						<%= f.label :password, 'パスワード'%> 
						<%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
					</div>

					<div class="form-group">
						<%= f.label :password, 'パスワード確認（もう一度入力して下さい。）'%>
						<%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認" %>
					</div>
					
					<div class="row">
						<div class="col-md-4 mx-auto">
							<%= f.submit '登録する', data: { confirm: '本当に保存してもよろしいですか？', disable_with: '処理中...' }, 
								class: "btn btn-block btn-sub" %>
						</div>
					</div>

				</div>
				<% end %>

		</div>
	</div>
</div>

<div class="modal fade" id="forget_password_modal" tabindex="-1" role="dialog" aria-labelledby="forget_password_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forget_password_label">
					<i class="fas fa-lock"></i> ログインできない場合
				</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
				<div class="modal-body">
					<p class="text-muted">
						アカウントにアクセスするためのログインリンクを送信するため、<br>メールアドレスを入力してください。
					</p>
					<div class="form-group">
						<%= f.label :email, 'メールアドレス:', class: "col-form-label" %>
						<%= f.email_field :email, class: "form-control" %>
					</div>
				</div>
				<div class="modal-footer">
					<%= f.submit "ログインリンクを送信", data: { disable_with: '処理中...' }, class: "btn btn-block btn-sub" %>
				</div>
			<% end %>
    </div>
  </div>
</div>