<% provide(:title, "ログイン(講師)")%>
<div class="login">
	<%= form_for(@teacher, url: '/teachers/login', html: { class: 'login-form' , method: :post }) do |f| %>

		<h1><%= link_to '自由塾(講師)', students_login_url %></h1>
		<div class="form-group">
			<%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Email address" %>
		</div>

		<div class="form-group">
			<%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Password" %>
		</div> 

		<div class="form-group">
			<%= label_tag :remember_me do %>
				<%= check_box_tag :remember_me, 'yes', 'no' %>
				<span>パスワードを保存する</span>
			<% end %>
		</div>

		<%= f.submit 'ログインする', disable_with: '処理中...' , class: "btn btn-block btn-sub" %>

	<% end %>
</div>