<%= form_for(report) do |f| %>
  <%= render 'share/error_messages', user: report %>
  <div class="form-group">
    <%= f.label :start_date,'開始日' %>
    <%= f.date_field :start_date, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date,'終了日' %>
    <%= f.date_field :end_date,class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :subject ,'教科'%>
    <%= f.text_field :subject, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :content ,'授業内容'%>
    <%= f.text_area :content , class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= f.label :homework,'宿題' %>
    <%= f.text_area :homework, class: "form-control form-control-lg", value: "学習記録をご覧下さい。" %>
  </div>

  <div class="form-group">
    <%= f.label :comment,'コメント' %>
    <%= f.text_area :comment , class: "form-control form-control-lg"%>
  </div>

  <div class="form-group">
    <%= f.label :memo, '注記（生徒側には公開されません）' %>
    <%= f.text_area :memo , class: "form-control form-control-lg"%>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= f.check_box :status ,{ class: "form-check-input", id: "exampleCheck1" }, '1', '0' %>
      <%= f.label :status, '公開する', class: "form-check-label", for: "exampleCheck1" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit yield(:btn_text), data: { confirm: '本当に保存してもよろしいですか？', disable_with: '処理中...' },
   class: "btn btn-block btn-view" %>
  </div>

<% end %>