<% provide(:title, "報告書詳細") %>
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
      <!-- Title -->
      <h1 class="mt-4">指導報告書</h1>

      <!-- Teacher -->
      <p class="text-muted">
        ー   <%= time_ago_in_words(@report.created_at) %>前に投稿
      </p>

      <hr />

      <!-- Date/Time -->
      <p>書いた講師： <i class="fas fa-user-circle"></i>    <%= @teacher.name %></p>

      <hr />

      <!-- Post Content -->
      <% if @report.content.present? %>
        <p class="lead">
          授業内容
        </p>
        <%= simple_format(@report.content, class: "report-text") %>
      <% end %>

      <% if @report.homework.present? %>
        <p class="lead">
          宿題
        </p>
        <%= simple_format(@report.homework, class: "report-text") %>
      <% end %>
      
      <% if @report.comment.present? %>
        <p class="lead">
          講師からのコメント
        </p>
        <p class="report-text">
          <%= safe_join(@report.comment.split("\n"), tag(:br)) %>
        </p>
      <% end %>

      <hr />

      <!-- Comments Form -->
      <div class="card bg-brown my-4">
        <h5 class="card-header">返信する：</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn">送信する</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img
          class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50"
          alt=""
        />
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>

      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img
          class="d-flex mr-3 rounded-circle"
          src="http://placehold.it/50x50"
          alt=""
        />
        <div class="media-body">
          <h5 class="mt-0">Commenter Name</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          scelerisque ante sollicitudin. Cras purus odio, vestibulum in
          vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
          vulputate fringilla. Donec lacinia congue felis in faucibus.

          <div class="media mt-4">
            <img
              class="d-flex mr-3 rounded-circle"
              src="http://placehold.it/50x50"
              alt=""
            />
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img
              class="d-flex mr-3 rounded-circle"
              src="http://placehold.it/50x50"
              alt=""
            />
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">生徒情報</h5>
        <div class="card-body">
          <p class="mb-auto"><strong>氏名　</strong><%= @student.name %></p>
					<hr>
					<p class="mb-auto"><strong>学年　</strong><%= @student.grade %></p>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">報告書情報</h5>
        <div class="card-body">
          <p class="mb-auto"><strong>授業日　</strong>    <%= @report.start_date.strftime('%m/%d') %>〜<%=
          @report.end_date.strftime('%m/%d') %></p>
					<hr>
					<p class="mb-auto"><strong>科目　　</strong>      <%= @report.subject %></p>
        </div>
      </div>
      <% if correct_teacher?(@teacher) || admin_logged_in? %>
				<%= link_to edit_report_path(@report), class: "btn btn-block" do %>
					<i class="fas fa-check"></i>  編集する
				<% end %>
        <% if admin_logged_in? %>
          <% if draft?(@report) %>
            <%= link_to '公開する', release_report_path(@report), method: :post, class: "btn btn-block" %>
          <% elsif released?(@report) %>
            <%= link_to '非公開にする', draft_report_path(@report), method: :post, class: "btn btn-block" %>
          <% end %>
        <% end %>
        <%= link_to @report, method: :delete,
        data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-block mt-2 bg-delete" do %>
					<i class="fas fa-trash"></i>  削除する
				<% end %>
			<% end %>
    </div>
  </div>
  <!-- /.row -->
</div>
