<% provide(:title, "報告書詳細") %>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- タイトル -->
      <h1 class="mt-4">指導報告書</h1>

      <!-- 指導報告書の内容 -->
      <p class="text-muted">
        ー   <%= time_ago_in_words(@report.created_at) %>前に投稿
      </p>

      <hr />

      <p>書いた講師： <i class="fas fa-user-circle"></i>    <%= @teacher.name %></p>

      <hr />

      <% if @report.content.present? %>
        <p class="lead">
          授業内容
        </p>
        <%= simple_format(@report.content, class: "report-text") %>
      <% end %>

      <% if @report.homework.present? %>
        <p class="lead">
          宿題
        </p>
        <%= simple_format(@report.homework, class: "report-text") %>
      <% end %>
      
      <% if @report.comment.present? %>
        <p class="lead">
          講師からのコメント
        </p>
        <p class="report-text">
          <%= safe_join(@report.comment.split("\n"), tag(:br)) %>
        </p>
      <% end %>

      <hr />

      <!-- 返信フォーム -->
      <div class="card bg-brown my-4">
        <h5 class="card-header">返信する：</h5>
        <div class="card-body">
          <%= form_for(@reply, url: reply_report_url) do |f| %>
            <div class="form-group">
              <%= f.text_area :content, :size => "10x3", class: "form-control form-control-lg" %>
            </div>
            <%= f.submit '送信する', data: { confirm: "本当に送信してもよろしいですか？", disable_with: '処理中...' }, class: "btn" %>
          <% end %>
        </div>
      </div>

      <!-- 返信履歴 -->
      <%= render @report.replies %>
    </div>

    <!-- サイドバー -->
    <div class="col-md-4">
      <!-- 生徒情報-->
      <div class="card my-4">
        <h5 class="card-header">生徒情報</h5>
        <div class="card-body">
          <p class="mb-auto"><strong>氏名　</strong><%= @student.name %></p>
					<hr>
					<p class="mb-auto"><strong>学年　</strong><%= @student.grade %></p>
        </div>
      </div>

      <!-- 報告書情報 -->
      <div class="card my-4">
        <h5 class="card-header">報告書情報</h5>
        <div class="card-body">
          <p class="mb-auto"><strong>授業日　</strong>    <%= @report.start_date.strftime('%m/%d') %>〜<%=
          @report.end_date.strftime('%m/%d') %></p>
					<hr>
					<p class="mb-auto"><strong>科目　　</strong>      <%= @report.subject %></p>
        </div>
      </div>

      <!-- 報告書編集 -->
      <% if correct_teacher?(@teacher) || admin_logged_in? %>
				<%= link_to edit_report_path(@report), class: "btn btn-block" do %>
					<i class="fas fa-check"></i>  編集する
				<% end %>
        <% if admin_logged_in? %>
          <% if draft?(@report) %>
            <%= link_to '公開する', release_report_path(@report), method: :post, class: "btn btn-block" %>
          <% elsif released?(@report) %>
            <%= link_to '非公開にする', draft_report_path(@report), method: :post, class: "btn btn-block" %>
          <% end %>
        <% end %>
        <%= link_to @report, method: :delete,
        data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-block mt-2 bg-delete" do %>
					<i class="fas fa-trash"></i>  削除する
				<% end %>
			<% end %>
    </div>
  </div>
</div>
