<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container">
    <div>
      <button type="button" id="sidebarCollapse" class="btn">
        <i class="fas fa-align-left"></i>
      </button>
      <%= link_to "自由塾", current_user, class: "navbar-brand" %>
    </div>
    <span class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <%= image_tag 'profile-icon.png', :size => "38x36", class: "profile-icon pt-1" %>
    </span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to current_user, class: "nav-link" do %>
            <i class="fas fa-user"></i> マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <% if student_logged_in? %>
            <%= link_to edit_student_path(current_student),  class: "nav-link" do %>
              <i class="fas fa-cog"></i> 設定
            <% end %>
          <% elsif teacher_logged_in? %>
            <%= link_to edit_teacher_path(current_teacher),  class: "nav-link" do %>
              <i class="fas fa-cog"></i> 設定
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if student_logged_in? %>
            <%= link_to students_logout_path, class: "nav-link", method: :delete, 
            data: { confirm: '本当にログアウトしますか？' } do %>
              <i class="fas fa-user-slash"></i> ログアウト
            <% end %>
          <% elsif teacher_logged_in? %>
            <%= link_to logout_teachers_path, class: "nav-link", method: :delete, 
            data: { confirm: '本当にログアウトしますか？' } do %>
              <i class="fas fa-user-slash"></i> ログアウト
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
