<!-- Sidebar -->
<% if teacher_logged_in? %>
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header">
      <h3 class="text-center">自由塾<br>日暮里教室</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="fa fa-graduation-cap"></i>          生徒
          <i class="arrow fa fa-angle-down float-right mt-1"></i>
        </a>
        <ul class="collapse list-unstyled" id="studentSubmenu">
          <li>
            <%= link_to '生徒一覧', students_path %>
          </li>
          <li>
            <%= link_to_if current_teacher.status == "owner", '新規作成', new_student_path do end%>                    
          </li>
        </ul>
      </li>
      <li>
        <a href="#teacherSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="fas fa-users"></i>          講師
            <i class="arrow fa fa-angle-down float-right mt-1"></i>
        </a>
        <ul class="collapse list-unstyled" id="teacherSubmenu">
          <li>
            <%= link_to '講師一覧', teachers_path %>
          </li>
          <li>
            <%= link_to_if owner_logged_in?, '新規作成', new_teacher_path do end %>
          </li>
        </ul>
      </li>
      <li>
        <a href="#NewsSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="far fa-clipboard"></i>         お知らせ
          <i class="arrow fa fa-angle-down float-right mt-1"></i>
        </a>
        <ul class="collapse list-unstyled" id="NewsSubmenu">
          <li>
            <%= link_to '新規作成', new_news_url %>
          </li>
          <li>
            <%= link_to 'お知らせ一覧', news_index_url %>
          </li>
        </ul>
      </li>
      <li>
        <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="far fa-file-alt"></i>          指導報告書
          <i class="arrow fa fa-angle-down float-right mt-1"></i>
        </a>
        <ul class="collapse list-unstyled" id="reportSubmenu">
          <li>
            <%= link_to '新規作成', students_url %>
          </li>
          <li>
            <%= link_to '報告書一覧', teacher_reports_url %>
          </li>
        </ul>
      </li>
      <li>
        <% if admin_logged_in? %>
        <%= link_to contacts_url do %>
          <i class="far fa-envelope"></i>          お問い合わせ
        <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to messages_url do %>
          <i class="far fa-comment"></i>          メッセージ
        <% end %>
      </li>
    </ul>
  </nav>
<% elsif student_logged_in? %>
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="sidebar-header">
      <h3 class="text-center">自由塾<br>日暮里教室</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to news_index_url do %>
          <i class="far fa-clipboard"></i>         お知らせ
        <% end %>
      </li>
      <li>
        <%= link_to student_reports_url do %>
          <i class="far fa-file-alt"></i>          指導報告書
        <% end %>
      </li>
      <li>
        <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false">
          <i class="far fa-envelope"></i>          お問い合わせ
          <i class="arrow fa fa-angle-down float-right mt-1"></i>
        </a>
        <ul class="collapse list-unstyled" id="contactSubmenu">
          <li>
            <%= link_to '一覧', contacts_url %>
          </li>
          <li>
            <%= link_to '新規作成', new_contact_url %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
<% end %>
