<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || '自由塾' %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= favicon_link_tag 'android-chrome-256x256.png', :rel => 'icon', :type => 'image/png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  
  </head>

  <body>
    <%= render 'layouts/sidebar' %>
    <div id="content">
      <%= render 'layouts/flash' %>
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <!-- 複数選択ボックス　CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- 日付入力　CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickadate@3.6.0/lib/themes/default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pickadate@3.6.0/lib/themes/default.date.min.css">

    <script src="https://cdn.jsdelivr.net/npm/pickadate@3.6.0/lib/picker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pickadate@3.6.0/lib/legacy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pickadate@3.6.0/lib/picker.date.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {
      $('#dismiss, .overlay').on('click', function () {
          // hide sidebar
          $('#sidebar').removeClass('active');
          // hide overlay
          $('.overlay').removeClass('active');
      });

      $('#sidebarCollapse').on('click', function () {
          // open sidebar
          $('#sidebar').addClass('active');
          // fade in the overlay
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });

      $('.date').pickadate({
        weekdaysShort: ['日', '月', '火', '水', '木', '金', '土'],
        monthsShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        showMonthsShort: true,
        today: '今日',
        clear: '消す',
        close: '閉じる',
        firstDay: 1,
        format: 'yy年mm月dd日',
        formatSubmit: 'yyyy/mm/dd',
        hiddenName: true
      });

      $('.select-subjects').select2({
        placeholder: '選択して下さい。'
      });

      $('.select-teachers').select2({
      });


      <% Student.grades.each do |grade| %>
        // 読み込んだ時、各学年下の生徒が全てチェックされていると「学年選択」もチェックする
        if ($('#collapse-<%= grade %> :checked').length == $('#collapse-<%= grade %> :input').length) {
          $('#student_<%= grade %>').prop('checked', 'checked');
        }else{
          $('#student_<%= grade %>').prop('checked', false);
        }
      <% end %>

      // 並び順を変更
      $('.change-sorting-by-day').on('click', function () {
        $('.student').prop('checked', false);
        $('.student_grade').prop('checked', false);
        $('.sort-by-grade').addClass('d-none');
        $('.sort-by-day').removeClass('d-none');
      });
      $('.change-sorting-by-grade').on('click', function () {
        $('.student').prop('checked', false);
        $('.student_grade').prop('checked', false);
        $('.sort-by-grade').removeClass('d-none');
        $('.sort-by-day').addClass('d-none');
      });
    });

    {/* バーを下スクロールすると消えるエフェクト */}
    $(function(){
      var startPos = 0,winScrollTop = 0;
      $(window).on('scroll',function() {
        winScrollTop = $(this).scrollTop();
        if (winScrollTop >= startPos) {
          if (winScrollTop > 100) {
            $('.navbar').addClass('hide');
          }
        } else {
          $('.navbar').removeClass('hide');
        }
        startPos = winScrollTop;
      });
    });

    {/* 生徒選択ボックス */}
    $(function() {
      $('#student_all').on('click', function() {
        // 「全選択」のチェックすると生徒全てをチェックする
        $('.student').prop('checked', this.checked);
        $('.student_grade').prop('checked', this.checked);
      });

      // 学年ソート
      <% Student.grades.each do |grade| %>
        // 「学年選択」のチェックするとその学年の生徒全てをチェックする
        $('#student_<%= grade %>').on('click', function() {
          $('#collapse-<%= grade %>').find('.student').prop('checked', this.checked);
        });

        // チャックを外したり付けたりすると、「学年選択」のチェック外れたり付いたりする
        $('#collapse-<%= grade %> .student').on('click', function() {
          if ($('#collapse-<%= grade %> :checked').length == $('#collapse-<%= grade %> :input').length) {
            $('#student_<%= grade %>').prop('checked', 'checked');
          }else{
            $('#student_<%= grade %>').prop('checked', false);
          }
        });
      <% end %>

      // 曜日ソート
      <% Student.days.each do |day| %>
				<% ["年", "小", "中", "高", "大"].each do |grade| %>
          // 「学年選択」のチェックするとその学年の生徒全てをチェックする
          $('#student_<%= day %>_<%= grade %>').on('click', function() {
            $('#collapse-<%= day %>-<%= grade %>').find('.student').prop('checked', this.checked);
          });

          // チャックを外したり付けたりすると、「学年選択」のチェック外れたり付いたりする
          $('#collapse-<%= day %>-<%= grade %> .student').on('click', function() {
            if ($('#collapse-<%= day %>-<%= grade %> :checked').length == $('#collapse-<%= day %>-<%= grade %> :input').length) {
              $('#student_<%= day %>_<%= grade %>').prop('checked', 'checked');
            }else{
              $('#student_<%= day %>_<%= grade %>').prop('checked', false);
            }
          });
        <% end %>
      <% end %>
    });
    </script>
  </body>
  
</html>
